body{ 
    background: #326717 url('img/bg\ \(1\).jpg') center top no-repeat;
    font-family: "Arial", sans-serif;
    font-size: 25px;
    color: yellow;
}
h1{color: yellowgreen;
text-align: center;
}
p{
    color:rgb(255, 255, 255);
}

#highlights{
background-color:rgb(25, 78, 3) ;

}